*{
margin: 0;
padding: 0;
font-family: verdana;

}
:root{
    --couleur-primaire:#DDAF45 ;
    --couleur-secondaire:#1B1649 ;
    --couleur-secondaire1:#fff ;
    --couleur-secondaire2:#000 ;
}


.navtop{
    display: flex;
    justify-content: space-between;
    color: var(--couleur-secondaire1);
    background-color: var(--couleur-secondaire);
    padding: 20px 20px 20px 20px;
}

.navtop .info{
    display: flex;
    font-size: 12px;
}
.navtop .info .location{
    padding-right: 30px;
}
.navtop .info .heure{
    padding-right: 30px;
}
.navtop .info .phone{
    padding-right: 30px;
}

i{
    color: var(--couleur-primaire);
    align-items: center;
}
.navbar{
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    
}
/* .navbar .logo{
    width: 10%;
} */
.navbar .logo img {

   width: 200px;
   margin: 8px 0 0 25px;
   position: relative;
    top: -20px;
  
}
ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
   font-size: 14px;
   justify-content: space-between;
   font-weight: 700;
   position: relative;
   top: 10px;
}


.bg img{
    width: 100%;
    height: 500px;
}
.pagination {
    border: 1px solid;
    padding-left: -50%;
    align-items: center;
}
.pagination input{
position: relative;
left: 700px;
top: -50px;
}
input .chek2{
    background-color: var(--couleur-primaire);
}
.contentsec {
    display: flex;
    height: 500px;
    padding: 0 auto;
    /* padding-left: 20px;
    padding-right: 20px; */
    
    
}
.contentsec .desc{
   
    width: 50%;
    margin-left: 200px;
    position: relative;
    bottom: -100px;
}
.desc

    
.contentsec .bg1 img{
    height: 40px;
    width: 50%;
    padding-left: -50px;
    position: relative;
    bottom: -100px;
}


h2{
    color: var(--couleur-secondaire);
    text-align: left;
    padding-bottom: 20px;
}